Django
django-extensions  
djangorestframework 
djangorestframework-gis 
djangorestframework-jwt
djangorestframework-simplejwt 
django-rest-framework
django-cors-headers 
django-rest-swagger
django-model-utils
django-redis
django-socketio
django-tables2
django-filter
django-crispy-forms
django-extensions
django-autocomplete-light
django-reversion
django-compressor
django-debug-toolbar
django-generic-scaffold